button {
	border-radius: 50%;
	color: #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	text-underline-offset: 5px;
}

button.active {
	text-decoration: underline;
}

button:disabled {
	color: #ffffff50;
	cursor: default;
}

span {
	text-align: center;
}
